Django==1.8.5
django-debugtools==1.4
djangorestframework==0.3.2
dominate==2.2.0
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-Login==0.3.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
meld3==1.0.2
MySQL-python==1.2.5
SQLAlchemy==1.0.13
supervisor==3.2.0
URLObject==2.4.0
uWSGI==2.0.11.2
virtualenv==13.1.2
visitor==0.1.2
Werkzeug==0.11.2
WTForms==2.1
